# virtualenv
venv/

# Packaging
*.pyc
__pycache__
*.egg-info
/dist/
/build/
/node_modules/


# Temporary/OS files
*.swp
*.swo
*.*~
.~lock.*
*.DS_Store
.python-version
*.mmdb

# log file
*.log

# pickle file
*.pickle


# IDE files
.project
.pydevproject
.settings
.idea
.vscode

# config yaml file
config.yaml
